{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="btn-darkgrey close-modal">Fermer</div>
    <button class="btn-orange submit-button" data-url="{{ path('category_new') }}">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
