<div class="flashcard stacked-cards">
    <nav class="card-menu active f-ee" data-updateUrl="{{ path('stage_update') }}">
        <div class="stage-icons f-ce">
            {% if card.stage < 3 %}
                <i class="icon-star-empty"></i>
            {% else %}
                <i class="icon-star-fill"></i>
            {% endif %}
            {% if card.stage < 6 %}
                <i class="icon-star-empty"></i>
            {% else %}
                <i class="icon-star-fill"></i>
            {% endif %}
            {% if card.stage < 8 %}
                <i class="icon-star-empty"></i>
            {% else %}
                <i class="icon-star-fill"></i>
            {% endif %}
        </div>
        <div class="edit-icons f-cc" data-target="test-modal"><i class="icon-closed-eye"></i></div>
        <a id="edit" href="{{ path('card_edit', {'id': card.id}) }}" class="edit-icons f-cc"><i class="icon-feather"></i></a>
    </nav>

    <div class="card-side front moving-card">
        <div class="content f-cc">
            <div class="main-ctnt">{{ card.frontMaincontent }}</div>
            <div class="sub-ctnt">{{ card.frontSubcontent }}</div>
        </div>
    </div>
    <div class="card-side back">
        <div class="content f-cc">
            <div class="main-ctnt">{{ card.backMaincontent }}</div>
            <div class="sub-ctnt">{{ card.backSubcontent }}</div>
        </div>
    </div>

    <div class="note-ctr">
        {{ card.note }}
    </div>
</div>
