{{ form_start(form) }}
    <div>
        {{ form_label(form.category) }}
        {{ form_widget(form.category, { 'attr': {
        'data-newUrl': path('category_new'),
        'data-getUrl': path('get_categories'),
        'data-getSubcategoriesUrl': path('get_relative_subcategories')
        }}) }}
        <a href="{{ path('category_new') }}"><small>Créer une nouvelle catégorie</small></a>
    </div>
        {{ form_label(form.subcategory) }}
        {{ form_widget(form.subcategory, { 'attr': {
            'data-newUrl': path('subcategory_new'),
            'data-getUrl': path('get_relative_subcategories'),
        }}) }}
        <a href="{{ path('subcategory_new') }}"><small>Créer une nouvelle sous-catégorie</small></a>
    <div>
    </div>
    {{ form_widget(form) }}
    <div class="buttons f-cc">
        {% if edit %}
            <a href="{{ path('card_delete', {'id': card.id, 'token': csrf_token('delete' ~ card.id)}) }}" class="btn-red" onclick="return confirm('Are you sure you want to delete this item?');">Supprimer la carte</a>
        {% endif %}
        <a href="{{ path('card_index') }}" class="btn-darkgrey {% if ajaxForm %}close-modal">Fermer la fenêtre{% else %}">Retourner à l'index{% endif %}</a>
        <button class="btn-orange submit-button" {% if ajaxForm %}data-url="{{ path('card_edit', {'id': card.id}) }}"{% endif %}>
            {% if edit %}
                Modifier
            {% elseif not edit %}
                Créer
            {% endif %}
        </button>
    </div>
{{ form_end(form) }}