{% extends 'base.html.twig' %}

{% block title %}Card index{% endblock %}
{% block body %}
<main>
    <section class="top">
        <h1>Vue d'ensemble</h1>
        <div class="info-scroll">
            Plusieurs cartes apprises ici
        </div>
    </section>
    <section class="body">
        {% for card in cards %}

            <div id="{{card.id}}" class="Showcard folded">
                <div class="top f-bc">
                    <div class="comment">Il y a une carte similaire dans le paquet</div>
                    <nav class="f-bc">
                        <a href="{{ path('card_edit', {'id': card.id}) }}" class="icon-feather"></a>
                        <div class="v-separator"></div>
                        <div class="rating">
                            {% if card.stage < 3 %}
                                <i class="icon-star-empty"></i>
                            {% else %}
                                <i class="icon-star-fill"></i>
                            {% endif %}
                            {% if card.stage < 6 %}
                                <i class="icon-star-empty"></i>
                            {% else %}
                                <i class="icon-star-fill"></i>
                            {% endif %}
                            {% if card.stage < 8 %}
                                <i class="icon-star-empty"></i>
                            {% else %}
                                <i class="icon-star-fill"></i>
                            {% endif %}
                        </div>
                    </nav>
                </div>
                <div class="body">
                    <div class="front-content">
                        <div class="main">{{ card.frontMainContent}}</div>
                        <div class="subcontent foldable">{{ card.frontSubContent}}</div>
                    </div>
                    <div class="back-content">
                        <div class="main">{{ card.backMainContent}}</div>
                        <div class="subcontent foldable">{{ card.backSubContent}}</div>
                    </div>
                    <div class="h-separator foldable"></div>
                    <div class="note foldable"><span>Notes : </span> {{ card.note }}</div>
                    <div class="h-separator"></div>
                </div>
                <div class="bottom f-bc">
                    <div class="breadcrumb">
                        <a class="category">{{ card.subcategory.category }}</a><span>></span> 
                        <a class="subcategory">{{ card.subcategory }}</a>
                    </div>
                    <nav class="f-bc">
                        <a href="{{ path('card_edit', {'id': card.id}) }}" class="icon-closed-eye"></a>
                        <div class="v-separator"></div>
                        <a href="{{ path('card_edit', {'id': card.id}) }}" class="icon-feather"></a>
                    </nav>
                </div>
            </div>
        {% endfor %}
    </section>
</main>

{% endblock %}