{% extends 'base.html.twig' %}

{% block title %}Let's go !!!{% endblock %}

{% block body %}
<main class="f-bc">
    <!-- Header -->
    <section class="top f-bc">
        <div class="top-ctr f-bc">
            <div class="card-breadcrumb">
                <div class="domain"><div class="square"></div>{{ card.subcategory }}</div>
                <div class="subdomain"><div class="square"></div>{{ card.subcategory.category }}</div>
            </div>
            <div class="flash-ctr flash-orange">
                <a class="flash-exclamation">
                    Bravo !<i class="icon-thumbs-up inht"></i>
                </a>
            </div>
        </div>
        <div class="flash-message">4 cartes apprises jusqu'à maintenant !</div>
    </section>

    <!-- Main section -->
    <section class="body">
        <div class="flashcards-ctr" data-bank="{{ path('get_cards') }}">
            {{ include('card/_flashcard.html.twig', {card: card})}}
        </div>
    </section>
    <section class="footer">
    </section>

    <div class="debug" {# style="display: none;" #}>
            <div class="btn-orange flash-button">Flash !</div>
    </div>

    <div id="test-modal" class="modal-content">
        <h1>Lorem ipsum dolor</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugiat natus laudantium rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eveniet!</p>
    </div>
</main>

    
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('play') }}
{% endblock %}
