{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ card.createdAt ? card.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Front_maincontent</th>
                <td>{{ card.frontMaincontent }}</td>
            </tr>
            <tr>
                <th>Front_subcontent</th>
                <td>{{ card.frontSubcontent }}</td>
            </tr>
            <tr>
                <th>Back_main_content</th>
                <td>{{ card.backMainContent }}</td>
            </tr>
            <tr>
                <th>Back_subcontent</th>
                <td>{{ card.backSubcontent }}</td>
            </tr>
            <tr>
                <th>Front_clue</th>
                <td>{{ card.frontClue }}</td>
            </tr>
            <tr>
                <th>Back_clue</th>
                <td>{{ card.backClue }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ card.note }}</td>
            </tr>
            <tr>
                <th>Stage</th>
                <td>{{ card.stage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('card_index') }}">back to list</a>

    <a href="{{ path('card_edit', {'id': card.id}) }}">edit</a>

    {{ include('card/_delete_form.html.twig') }}
{% endblock %}
