{% extends 'base.html.twig' %}

{% if edit %}
    {% set title = "Modifier la sous-catégorie" %}
{% else %}
    {% set title = "Créer une sous-catégorie" %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<main>
    <h1>{{ title }}</h1>

    {{ include('subcategory/_form.html.twig', {'edit': edit}) }}
        {#
        <form method="post" action="{{ path('subcategory_delete', {'id': subcategory.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subcategory.id) }}">
            <button class="btn">Delete</button>
        </form>
        #}
</main>
{% endblock %}
